!
! Default mapping for Delete
!
*Text.Translations:	   #override \n ~Shift ~Meta ~Alt <Key>Delete: delete-next-character() \n
*AxeText.Translations:	   #override \n ~Shift ~Meta ~Alt <Key>Delete: delete-next-character() \n
*XmText.Translations:	   #override \n ~Shift ~Meta ~Alt <Key>Delete: delete-next-character() \n ~Shift ~Meta ~Alt <Key>osfDelete: delete-next-character() \n ~Shift ~Meta ~Alt <Key>osfBackSpace: delete-previous-character() \n
*XmTextField.Translations: #augment \n ~Shift ~Meta ~Alt <Key>osfDelete: delete-next-character() \n ~Shift ~Meta ~Alt <Key>osfBackSpace: delete-previous-character() \n

!
! Defaults for 3D Athena Widgets library
!
*Form.background:			#DEDEDE
*Form.foreground:			black
*TransientShell*Dialog.background:	grey67
*TransientShell*Dialog.foreground:	black
*Command.background:			grey77
*Command.foreground:			black
*MenuButton.background:			grey77
*MenuButton.foreground:			black
*SimpleMenu*background:			grey77
*SimpleMenu*foreground:			black
*ScrollbarBackground:			grey67
*ScrollbarForeground:			grey37
*Scrollbar*background:			grey77
*Scrollbar*foreground:			grey37
*Scrollbar*pointerColor:		black
*Scrollbar*pointerColorBackground:	white
*beNiceToColormap:			False
*Scrollbar*width:			15
*Scrollbar*height:			15
*Scrollbar*shadowWidth:			2
*Scrollbar*borderWidth:			2
*Scrollbar*cursorName:			top_left_arrow
*Scrollbar*pushThumb:			false
*Label*shadowWidth:			2
*Label*borderWidth:			2
*shapeStyle:				Rectangle
*shadowWidth:				2
*SmeBSB*shadowWidth:			2
*Toggle*highlightThickness:		2
*MenuButton*highlightThickness:		2
*Command*highlightThickness:		2
*Panner*shadowThickness:		2
*SimpleMenu*shadowThickness:		2
*topShadowContrast:			20
*bottomShadowContrast:			45
*PushThumb:				False

*printCommand: lpr

Mwm.interactivePlacement:	false

Scrollbar.JumpCursor:	True


Ghostview.pageMedia:  A4

*XConsole*text.scrollHorizontal:         False
*XConsole*text.wrap: line

!
! XSysinfo
!
XSysinfo*.font:                 fixed
XSysinfo*.title.label:          Linx System Info
XSysinfo*.title.width:          200
XSysinfo*.load.name.label:      CPU Load:
XSysinfo*.idle.name.label:      CPU Idle:
XSysinfo*.mem.name.label:       Memory:
XSysinfo*.swap.name.label:      Swap:
! set foreground colors for load
XSysinfo*load*bar.foreground:   RosyBrown1
XSysinfo*load*bar.foreground1:  IndianRed1
XSysinfo*load*bar.foreground2:  OrangeRed1
XSysinfo*load*bar.foreground3:  firebrick1
XSysinfo*load*bar.foreground4:  pink1
XSysinfo*load*bar.foreground5:  HotPink1
XSysinfo*load*bar.foreground6:  DeepPink2
XSysinfo*load*bar.foreground7:  maroon1
XSysinfo*load*bar.segmentGap:   1

! set idle gauge color
XSysinfo*idle*bar.foreground:   green
XSysinfo*idle*bar.backgroud:   red

! set mem info gauge colors
XSysinfo*mem*bar.foreground:    tomato
XSysinfo*mem*bar.foreground1:   green3
XSysinfo*mem*bar.foreground2:   orchid

! set swap gauge color
XSysinfo*swap*bar.foreground:   hotpink1

! set background
XSysinfo*.background:           gray50
XSysinfo*.BarGauge.background:  white


*basicLocale:	C
*timeFormat:	C
*numeric:	C
*displayLang:	C
*inputLang:	C

*customization:	-color

! ===========================================================================
!                               Motif
! ===========================================================================

!*XmText.translations: #override\n\
!       <Key>osfDelete: delete-previous-character()\n\
!       <Key>osfBackSpace: delete-next-character()\n
!
!*XmTextField.translations: #override\n\
!       <Key>osfDelete: delete-next-character()\n\
!       <Key>osfBackSpace: delete-previous-character()\n


! ===========================================================================
!                               XTerm
! ===========================================================================
!*vt100.translations: #override \
!        <Key>Home:      string("[1~") \n\
!        <Key>Insert:    string("[2~") \n\
!        <Key>BackSpace: string("[3~") \n\
!        <Key>End:       string("[4~")

!!! urxvt-256color
!
urxvt-256color.font:xft:Terminus (TTF)-Bold:pixelsize=18
urxvt-256color.letterspace:1 
urxvt-256color.scrollBar:	false
urxvt-256color.saveLines:	4096
urxvt-256color.perl-ext-common: keyboard-select,resize-font,url-select,clipboard
urxvt-256color.keysym.M-Escape: perl:keyboard-select:activate
urxvt-256color.keysym.M-u: perl:url-select:select_next
urxvt-256color.keysym.M-c:   perl:clipboard:copy
urxvt-256color.keysym.M-v:   perl:clipboard:paste
urxvt-256color.keysym.M-C-v: perl:clipboard:paste_escaped
Xft*dpi:       100
Xft*antialias: True
Xft*hinting:   True
Xft*rgba: rgb
urxvt-256color.keysym.KP_Add:    +
urxvt-256color.keysym.KP_Subtract: -
urxvt-256color.keysym.KP_Multiply: *
urxvt-256color.keysym.KP_Divide  : /
urxvt-256color.keysym.KP_Decimal : .
urxvt-256color.keysym.KP_Separator : ,
urxvt-256color.keysym.KP_1:      1
urxvt-256color.keysym.KP_2:      2
urxvt-256color.keysym.KP_3:      3
urxvt-256color.keysym.KP_4:      4
urxvt-256color.keysym.KP_5:      5
urxvt-256color.keysym.KP_6:      6
urxvt-256color.keysym.KP_8:      8
urxvt-256color.keysym.KP_7:      7
urxvt-256color.keysym.KP_9:      9
urxvt-256color.keysym.KP_0:      0
urxvt-256color.geometry:82x24
urxvt-256color.keysym.C-j:resize-font:smaller
urxvt-256color.keysym.C-k:resize-font:bigger
urxvt-256color.keysym.C-equal:resize-font:reset
urxvt-256color.preeditType:Root
urxvt-256color.keysym.M-l:reset 
urxvt-256color.keysym.M-f:ranger
urxvt-256color.keysym.M-m:mount_drives

! special
*.foreground:   #ffdab9
*.background:   #1d1312
!1B0E00
*.cursorColor:  #ffdab9

! black
*.color0:       #000000
*.color8:       #343434

! red
*.color1:       #e92f2f
*.color9:       #e92f2f

! green
*.color2:       #0ed839
*.color10:      #0ed839

! yellow
*.color3:       #dddd13
*.color11:      #dddd13

! blue
*.color4:       #3b48e3
*.color12:      #3b48e3

! magenta
*.color5:       #f996e2
*.color13:      #f996e2

! cyan
*.color6:       #23edda
*.color14:      #23edda

! white
*.color7:       #ababab
*.color15:      #f9f9f9
