[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/noyb/Desktop/ideas]
row=7
col=0

[/home/noyb/Desktop/steam.desktop]
row=4
col=0

[/home/noyb/Desktop/finding_hot_Babes.png]
row=0
col=1

[/home/noyb/Desktop/literally_me.png]
row=1
col=1

[/home/noyb/Desktop/ThIs1SaGo0dP@ass]
row=5
col=0

[/home/noyb/Desktop/Invoice.png]
row=6
col=0

[/home/noyb/Desktop/Lutris.desktop]
row=2
col=0

[/home/noyb/Desktop/qutebrowser.desktop]
row=3
col=0

[Trash]
row=0
col=0

[/home/noyb]
row=1
col=0

