[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/noyb/Desktop/2022-10-14_14-10.png]
row=4
col=1

[/home/noyb/Desktop/steam.desktop]
row=4
col=0

[/home/noyb/Desktop/literally_me.png]
row=1
col=1

[/home/noyb/Desktop/miku.png]
row=2
col=1

[/home/noyb/Desktop/qutebrowser.desktop]
row=3
col=0

[/home/noyb/Desktop/ThIs1SaGo0dP@ass]
row=5
col=0

[/home/noyb/Desktop/gril.png]
row=3
col=1

[/home/noyb/Desktop/Lutris.desktop]
row=2
col=0

[/home/noyb/Desktop/video_subjs]
row=0
col=1

[Trash]
row=0
col=0

[/home/noyb]
row=1
col=0

