[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/noyb/Desktop/ThIs1SaGo0dP@ass]
row=6
col=0

[/home/noyb/Desktop/steam.desktop]
row=7
col=0

[72C06452C0641F1B]
row=1
col=0

[14e33314-7634-45e4-ab1a-b65c3211ee1c]
row=0
col=0

[A030F81C30F7F6DE]
row=2
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/noyb]
row=5
col=0

